<article class="post-item" *ngFor="let post of posts">
  <a class="datetime">
    <time>
      <span class="day">
        {{ this.getDay(post) }}
      </span>
      <span class="month-year">
        {{ this.getMonth(post) }}
      </span>
    </time>
  </a>
  <div class="content">
    <a [routerLink]="[post.slug]">
      <h2 class="post-title">
        {{ post.title }}
      </h2>
    </a>
    <p class="description">
      {{ post.summary }} <a [routerLink]="[post.slug]">Read More...</a>
    </p>

    <div class="tags">
      <a *ngFor="let tag of post.tags">
        {{ tag.name }}
      </a>
    </div>
  </div>
</article>
